# Python
__pycache__/
*.py[cod]

# Entorno virtual
venv/
env/

# Django
db.sqlite3
media/

# Variables sensibles
.env

# VSCode
.vscode/

# Logs
*.log

# Archivos temporales
*.tmp

# Archivos Python
*.pyo
*.pyd

# Sistema
.DS_Store